<!DOCTYPE html>
<html>
<head>
    <title>Edit User Info</title>
</head>
<body>
    <h1>Edit User Info</h1>
    <form action="{{ url_for('submit_edit', user_id=user.id) }}" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br>
        
        <label for="image_url">Image URL:</label>
        <input type="text" id="image_url" name="image_url" value="{{ user.image_url }}"><br>
        
        <button type="submit">Submit Changes</button>
    </form>
    <p><a href="{{ url_for('users') }}">Back to All Users</a></p>
</body>
</html>
